// 自定义input后置按钮样式
.customizeAntdInputAddonAfter {
    .ant-input-group-addon {
        padding: 0;

        >span {
            padding: 8px 10px;
        }
    }
}

// ------------------> Antd组件库暗色适配 开始 <------------------
.ant-card {
    @apply overflow-hidden;
}

.ant-card-body,
.ant-pagination-item,
.ant-drawer-header,
.ant-drawer-body,
.ant-table-cell::before {
    @apply dark:bg-boxdark;
}

.ant-pagination-item:hover,
.ant-table-cell,
.ant-table-row:hover .ant-table-cell,
.ant-card {
    @apply dark:!bg-boxdark dark:!border-strokedark;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-picker-outlined,
.ant-picker-panel-layout,
.ant-picker-range-arrow::before,
.ant-select,
.ant-select-selector,
.ant-modal-content {
    @apply dark:!bg-boxdark-2 dark:!border-strokedark;
}

.ant-modal-header{
    @apply dark:bg-transparent;
}

.ant-transfer-list{
    @apply dark:border-strokedark;
}
// ------------------> Antd组件库暗色适配 结束 <------------------